<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Memória</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Jogo da Memória</h1>
        <h2> Henry Modesto | Andrey Tomaz <br> 2A - SI</h2>
        <button onclick="window.location.href='/game'" id="botao">Iniciar Jogo</button>
    </div>
</body>
</html>
